header {
  outline: dotted 3px green;
  background: #888;
}

h1 {
  font-size: 80px;
  text-align: center;
}

.pic-holder {
  margin-left: 50px;
  display: inline-block;
  outline: solid 5px green;
  width: 230px;
  height: 230px;

}
img {
width: 230px;
height: 230px;
}
