

main {
    width: 700px;
    height: 900px;
    margin: 30px;
    outline: dotted 3px blue;
}

#itemOne {

    width: 200px;
    height: 200px;
    margin-top: 50px;
    margin-right: 50px;
    outline: dotted 3px black;
}

#itemTwo {


    width: 200px;
    height: 200px;
    margin-top: -200px;
    margin-left: 250px;
    outline: dotted 3px orange;
}

#itemThree {

      width: 200px;
      height: 200px;
      margin-top: -200px;
      margin-left: 500px;
      outline: dotted 3px green;
}

main img {
  margin: 0px;
  width: 200px;
  height: 200px;
}
